@charset "UTF-8";

h1 {
    margin-left: 100px;
}

form {
    padding: 16px;
    border-bottom: 2px solid #272727;
}

form label {
    font-weight: bold;
}

input[type=text], input[type=email] {
    width: 250px;
}

@media (max-width: 768px) {
    input[type=text], input[type=email] {
        width: 200px;
    }
}